footer{
    z-index: -1;
    height: 3em;
    margin-top: 2em;

    .footer-area__img{
        font-size: 10em;
        color: #90EDD2;
    }

    .footer__main-container-logout{
        position: fixed;
        bottom: 0;
        height: 60px;
        right: 25px;
        img{
            width: 30px;
        }
    }
}
