.footer-area__img{
    font-size: 10em;
    position: absolute;
    color: #90EDD2;
}

.footer__main-container-logout{
    position: fixed;
    bottom: 20px;
    right: 50px;
    cursor: pointer;
    img{
        width: 30px;
    }
}
