.header{
    display: table;
    width: 100%;
    position: relative;

    li{
        display: inline;
        padding: 3px 0;
    }
}

%position{
    position: absolute;
    top: 0;
}

.header__main-container-logo{
    position: relative;
    margin: 0 auto;
}

.header__main-container-logo-href{
    border-radius: 100%;
    width: 70px;
    position: fixed;
    left: 46%;
}

.header__date-area{
    @extend %position;
    color: #B9E5DF;
    left: 40px;
}

.date-area__date{
    font-size: 1.8em;
    margin-left: 13px;
}

.date-area__month{
    margin: -20px 0 0 0;
    font-size: 2em;
}

.header__main-container-statistic{
    @extend %position;
    margin-right: 3em;
    right: 30px;
    img {
        width: 50px;
    }
}
