.header{
  display: table;
  width: 100%;
  position: relative;

  li{
    display: table-cell;
    padding: 3px 0;
  }
}

%position{
  position: absolute;
    top: 0;
}

.header__main-container-logo{
  @extend %position;
  font-size: 3.5em;
  left:50%;
  margin-left:-40px;
}

.header__date-area{
  @extend %position;
  color: #B9E5DF;
  left: 40px;
}

.date-area__date{
  font-size: 1.8em;
  margin-left: 13px;
}

.date-area__month{
  margin: -20px 0 0 0;
  font-size: 2em;
}

.header__main-container-statistic{
  @extend %position;
  margin-right: 3em;
  right: 30px;
  img {
    width: 50px;
  }
}
