%position{
    position: absolute;
    top: 0;
}

.header{
    li{
        display: inline;
        padding: 5px 0;
    }
}
.header__main-container-back {
    @extend %position;
        margin: 1em 3em 0 0;

        right: 30px;
    img {
        width: 40px;
    }
}
.header__main-container-logo-href{
    border-radius: 100%;
    width: 70px;
    display: block;
    margin: 0 auto;
    margin-right: 49.5%;
}
.header__date-area{
    @extend %position;
    color: #B9E5DF;
}
.date-area__date{
    font-size: 1.8em;
    margin-left: 13px;
}

.date-area__month{
    margin: -20px 0 0 0;
    font-size: 2em;
}
.header__main-container-statistic{
    @extend %position;
    margin: 1em 3em 0 0;
    right: 30px;
    img {
        width: 50px;
    }
}
