.add-container{
  margin-top: 110px;
}

.add-container__information{
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

.add-container__button{
  cursor: pointer;
  cursor: hand;
  background-color: #61A18F;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  border-radius: 100%;

  &:hover{
    background-color: #A6D9CC;
  }

  img{
    height: 35px;
    margin: 12px 12px;
  }
}

.work-out-container--background{
  position: relative;
  background-color: #98DECD;
  padding: 1.5em 1em;
  margin: 1em 1em;
}

.work-out-container__table{
  margin: 1em auto;

  input{
    height: 50px;
    width: 100%;
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
  }

  td{
    text-align: center;
    padding-bottom: 5px;
  }
}

.work-out-container__table-add__name-input{
  width: 100%;
}

.work-out-container__table-add__quanity-input{
  width: 40%;
}

.work-out-container__table-add__td-muliply-symbol{
  width: 20%;
}

.work-out-container__table-add__workout-multiplication-input{
  width: 40%;
}

.work-out-container__table-add__delete-button{
  width: 50%;
  height: 50px;
  background-color: #EF6249;

  &:hover{
    background-color: #AFAFAF;
  }
}

.work-out-container__table-add__ok-button{
  width: 50%;
  height: 50px;
  background-color: #59A090;

  &:hover{
    background-color: #A4E7D1;
  }
}

.show-work-out-container__table{
  margin: 1em auto;
  color: #C5FBF3;
  font-size: 2em;

  td{
    text-align: center;
    padding-bottom: 5px;
  }


}
.show-work-out-container__table-add__name{
  width: 100%;
  color: $white;


}
.show-work-out-container__table-add__quanity{
  width: 40%;

}
.show-work-out-container__table-add__workout-multiplication{
  width: 20%;

}
.show-work-out-container__table-add__td-muliply-symbol{
  width: 40%;

}

.show-work-out-container__table-add__edit-button{
  background-image: url(../../images/edit.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1%;
  top: 1%;
}

.hidden{
  display: none;
}
