$basic-color: #96D4C0;
$light-green: #96D4C0;
$button-color: #6F9D8E;
$behind-modules-color: #98DECD;
$text-color-in-modules: #B6E7DF;
$strong-light-color: #82FEE4;

$white: #FFFFFF;
$black: #000000;
$darkGreen: #61A18F;
$green: #A6E591;
