body {
  background-color: #84DAC1;
  width: 100%;
  height: 100%;
}

.header__main-container-logo{

}

.header__date-area{
  margin: 20px;
  color: #B9E5DF;
}

.date-area__date{
  font-size: 1.8em;
  margin-left: 13px;
}

.date-area__month{
  margin: -20px 0 0 0;
  font-size: 2em;

}

.footer-area__img{
  font-size: 10em;
  position: absolute;
  //bottom: -85px;
  //right: -54px;
  color: #90EDD2;
}

a{
  text-decoration: none;
}
